/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
	border: 0px;
	padding: 0px;
}

.byline {
	color: #999;
}

.entry-content img {
	max-width: 100%;
	height: auto;
}

.entry-content .alignleft,
.entry-content img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}

.entry-content .alignright,
.entry-content img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

.entry-content .aligncenter,
.entry-content img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.entry-content video,
.entry-content object {
	max-width: 100%;
	height: auto;
}

.entry-content pre {
	background: #eee;
	border: 1px solid #cecece;
	padding: 10px;
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;
}

.wp-caption img {
	max-width: 100%;
	margin-bottom: 0;
	width: 100%;
}

.wp-caption p.wp-caption-text {
	font-size: 0.85em;
	margin: 4px 0 7px;
	text-align: center;
}

.post-password-form input[type="submit"] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 1rem 0;
	font-family: inherit;
	padding: 0.85em 1em;
	-webkit-appearance: none;
	border: 1px solid transparent;
	border-radius: 0;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-size: 0.9rem;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background-color: #1779ba;
	color: #fefefe;
}

[data-whatinput='mouse'] .post-password-form input[type="submit"] {
	outline: 0;
}

.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
	background-color: #14679e;
	color: #fefefe;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}

.gallery::before,
.gallery::after {
	content: ' ';
	display: table;
}

.gallery::after {
	clear: both;
}

.gallery.gallery-columns-1 > dl {
	width: 100%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-1 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-2 > dl {
	width: 50%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-2 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-3 > dl {
	width: 33.33333%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-3 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-4 > dl {
	width: 25%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-4 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-5 > dl {
	width: 20%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-5 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-6 > dl {
	width: 16.66667%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-6 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-7 > dl {
	width: 14.28571%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-7 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery.gallery-columns-8 > dl {
	width: 12.5%;
	float: left;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 40em) {
	.gallery.gallery-columns-8 > dl {
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}
}

.gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
	float: right;
}

.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.gallery dl:last-child:not(:first-child) {
	float: right;
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
	margin-left: 0px;
}

#respond ul {
	margin-left: 0px;
}

.commentlist li {
	position: relative;
	clear: both;
	overflow: hidden;
	list-style-type: none;
	margin-bottom: 1.5em;
	padding: 0.7335em 10px;
}

.commentlist li:last-child {
	margin-bottom: 0;
}

.commentlist li ul.children {
	margin: 0;
}

.commentlist li[class*=depth-] {
	margin-top: 1.1em;
}

.commentlist li.depth-1 {
	margin-left: 0;
	margin-top: 0;
}

.commentlist li:not(.depth-1) {
	margin-left: 10px;
	margin-top: 0;
	padding-bottom: 0;
}

.commentlist .vcard {
	margin-left: 50px;
}

.commentlist .vcard cite.fn {
	font-weight: 700;
	font-style: normal;
}

.commentlist .vcard time {
	float: right;
}

.commentlist .vcard time a {
	color: #999;
	text-decoration: none;
}

.commentlist .vcard time a:hover {
	text-decoration: underline;
}

.commentlist .vcard img.avatar {
	position: absolute;
	left: 10px;
	padding: 2px;
	border: 1px solid #cecece;
	background: #fff;
}

.commentlist .comment_content p {
	margin: 0.7335em 0 1.5em;
	font-size: 1em;
	line-height: 1.5em;
}

.commentlist .comment-reply-link {
	float: right;
}

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;
}

.respond-form form {
	margin: 0.75em 0;
}

.respond-form form li {
	list-style-type: none;
	clear: both;
	margin-bottom: 0.7335em;
}

.respond-form form li label,
.respond-form form li small {
	display: none;
}

.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
	padding: 3px 6px;
	background: #efefef;
	border: 2px solid #cecece;
	line-height: 1.5em;
}

.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
	background: #fff;
}

.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
	outline: none;
	border-color: #fbc2c4;
	background-color: #f6e7eb;
	-ms-box-shadow: none;
	box-shadow: none;
}

.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
	max-width: 400px;
	min-width: 250px;
}

.respond-form form textarea {
	resize: none;
	width: 97.3%;
	height: 150px;
}

#comment-form-title {
	margin: 0 0 1.1em;
}

#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
	list-style: none;
}

.widget ul {
	margin: 0;
}

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.footer ul {
	display: inline-block;
	margin: 5px 0;
	padding: 2px;
}

#bfc-copyright {
	display: inline-block;
	opacity: 0.6;
	color: #1e1e1e;
}

.footer li, 
.footer li a {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
	list-style: none outside none;
	margin: 0;
}

/*********************/
/*    BFCom styles   */
/*********************/
/* PAGE AND LAYOUT */
body {
	font-family: Pangram,Avenir,Helvetica,sans-serif;
}

.content {
	margin: 0 auto;
	max-width: 1080px;

}

.groups .content {
	margin: 0 auto;
	max-width: 840px;
}

/* HEADER */
.header-grid {
	display: grid;
	grid-template-columns: 52px 1fr 52px;
	grid-template-rows: 20px 20px;
	grid-template-areas: 'Logo TopMenu User' 'Logo SubMenu User';
	margin: 10px 15px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.header-logo {
	grid-area: Logo;
}

.header-logo img,
.header-user img {
	max-width: 40px;
}

.header-topmenu {
	grid-area: TopMenu;
	margin: 0 auto;
}

.header-user {
	grid-area: User;
	z-index: 100;
}

.header-submenu {
	grid-area: SubMenu;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding-top: 6px;
}

.header-submenu .bp-navs {
	z-index: 100;
	overflow: visible;
	display: flex;
}

@media (min-width:768px) {
	.header-grid {
		grid-template-columns: 72px 1fr 72px;
		grid-template-rows: 30px 30px;
		grid-template-areas: 'Logo TopMenu User' 'Logo SubMenu User';
	}
	.header-logo img,
	.header-user img {
		max-width: 60px;
		vertical-align: bottom;
	}

}

/* FORUMS */
#bbpress-forums div.odd {
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
}

#bbpress-forums div.even {
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
}

.forum.single-item .page-title {
	font-size: 16px;
}

#bbpress-forums > h3 {
	font-size: 40px;
	margin: 0;
}

div.header-user img.avatar {
  border-radius: 10px;
}

#bbpress-forums img.avatar {
	border-radius: 12px;
}

#item-header-avatar img.avatar {
  border-radius: 16px;
}

#bbpress-forums .bbp-reply-post-date {
	font-size: 8pt;
	font-style: italic;
	color: #808080;
}

.bbp-meta {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.25;
}

.bbp-reply-content {
	position: relative;
	font-family: Merriweather,Georgia,serif;
	font-size: 17px;
	max-width: 640px;
}

.bp_group #item-body {
	margin-top: 3px;
}

.bbp-body {
	padding-bottom: 10px;
}

#bbpress-forums div.even,
#bbpress-forums div.odd {
	padding-bottom: 10px;
}

#bbpress-forums div.bbp-reply-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author span.bbp-author-name {
	font-size: 13px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 13px;
	margin-top: 5px;
	display: block;
}

#bbpress-forums div.bbp-reply-content {
	padding: 12px 12px 14px 0;
}

/* This is taken from /wp-content/plugins/bbpress/templates/default/css/bbpress.css starting at line 1140 */
/* Changed the break-point from 420 to 640. 420 was too narrow. 640 is the max-width for the reply text and this covers larger phones. */
/* Other changes noted below. This may need further review and tweaking for the forum index page */
@media (max-width: 640px) {

	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}

	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}

	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}

	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}

	span.bbp-reply-post-date {
		/* float was left but that messed up the mobile layout of author and date */
		float: none;
	}

	span.bbp-admin-links {
		clear: right;
		float: left;
	}

	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}

	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}

	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;

		/* display was inline-block but that messed up the mobile layout of author and date */
		display: block;
		margin-left: 0;
		word-wrap: break-word;
	}

	#bbpress-forums div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}

	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}

	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0 0 14px;
	}

	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}

	div.bbp-submit-wrapper {
		float: left;
	}

	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}

	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
}

/* Fluid type between 320 and 640. May need to be expanded to handle other heading sizes */
@media (min-width: 320px) {
	.bbp-reply-content {
		font-size: calc(15px + 2*((100vw - 320px)/320));
	}

	#bbpress-forums > h3 {
		font-size: calc(32px + 8*((100vw - 320px)/320));
	}

	.header-grid,
	.forum.single-item .page-title {
		font-size: calc(14px + 2*((100vw - 320px)/320));
	}

	.footer {
		font-size: calc(11px + 5*((100vw - 320px)/320));
	}

	.footer li, 
	.footer li a {
		padding: calc(2px + 3*((100vw - 320px)/320));
	}
}

@media (min-width: 641px) {
	.bbp-reply-content {
		font-size: 17px;
	}

	#bbpress-forums > h3 {
		font-size: 40px;
	}

	.header-grid,
	.forum.single-item .page-title {
		font-size: 16px;
	}

	.footer {
		font-size: 16px;
	}

	.footer li, 
	.footer li a {
		padding: 5px;
	}
}

@media (max-width: 319px) {
	.bbp-reply-content {
		font-size: 15px;
	}

	#bbpress-forums > h3 {
		font-size: 32px;
	}

	.header-grid,
	.forum.single-item .page-title {
		font-size: 14px;
	}
}

.bfc-topic-author-avatar {
	float: left;
	padding-right: 8px;
}

.bbp-topic-permalink {
	font-size: 15px;
	font-weight: 500;
	line-height: 12px;
}

.bbp-body .bbp-topic-reply-count {
	font-size: 13px;
	font-weight: 500;
	line-height: 19px;
}

.bbp-topic-freshness >a {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

#bbpress-forums .bbp-header .bbp-topic-title {
	margin-left: 48px;
}

#bbpress-forums p.bbp-topic-meta {
	font-size: 12px;
	margin-top: 0px;
	line-height: 18px;
}

.bbp-topic-title .bbp-topic-pagination {
	margin-bottom: 0px;
}

#bbpress-forums .bbp-pagination {
	float: right;
	width: auto;
	margin-bottom: 7px;
	color: rgba(39, 39, 39, 0.65);
	margin-top: 3px;
}

#bbpress-forums .button {
	float: left;
	margin-bottom: 11px;
	font-size: 14px;
	font-weight: 600;
}

.forum.single-item .page-title {
	margin-bottom: 0;
	margin-left: 3px;
	color: rgba(39, 39, 39, 0.75);
}

.bbp-topic-form {
	clear: right;
}
/* Hightlights active/selected menu item.  */
.menu .active > a,
.bp-navs .selected a,
.bp-navs span.selected {
	background: none;
	color: #1e1e1e;
	font-weight: 600;
	opacity: 1;
}


.menu .active > a {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-style: solid;
	border-bottom: 2px solid #ffffff;
	background-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.header-topmenu .menu a {
	margin-top: -5px;
	padding: 6px 10px 3px;
}

.header-submenu .menu a {
	padding: 4px 16px 4px;
}


.menu .active > a img {
	opacity: 1;
}

#more .menu-more {
	padding: 4px 10px 4px;
	line-height: 1;
}
.menu-more,
.menu a,
.menu a img {
	opacity: 0.6;
	color: #1e1e1e;
}

.bfc-user-panels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'LeftPanel CenterPanel RightPanel';
	gap: 0px 10px;
	margin: 10px 0px;
}

.bfc-dash-panels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'LeftPanel RightPanel';
	gap: 0px 10px;
	margin: 10px 0px;
}

.bfc-user-accordion,
.bfc-dash-accordion {
	display: none;
}

.bfc-user-panels-left,
.bfc-dash-panel-left {
	grid-area: LeftPanel;
}

.bfc-user-panels-center {
	grid-area: CenterPanel;
}

.bfc-user-panels-right,
.bfc-dash-panel-right {
	grid-area: RightPanel;
}

.bfc-la-li {
	display: grid;
	grid-template-columns: 46px 1fr;
	margin-top: 0;
	padding-top: 10px;
	border: 1px solid #eeeeee;
}

.bfc-la-ul {
	margin-left: 0;
	list-style-type: none;
}

.buddypress-wrap #bfc-dash-panels h2 {
	margin-top: 0px;
	margin-bottom: 8px;
}


.bfc-la-topic-author-avatar img {
	margin-top: 4px;
}

.bsp-la-reply-topic-title {
	font-size: 16px;
}

.bfc-la-topic-excerpt {
	font-size: 14px;
}

.bsp-la-forum-title,
.bsp-la-freshness,
.bfc-la-topic-author-name {
	font-size: 12px;
}

.bsp-la-forum-title {
	float: right
}

@media (max-width:767px) {
	.header-topmenu .menu a,
	.menu .active > a{
		font-size: 0;
		margin-top: -5px;
		padding: 0px 6px 2px;
	}

	.menu a img {
		padding: 2px 2px 0px;
		height: 22px;
	}

	.bp-navs .selected a {
		font-size: inherit;
	}

	.header-submenu {
		padding-top: 2px;
	}

	.header-submenu .menu a {
		padding: 4px 8px 4px;
	}

	.bfc-dash-accordion {
		display: block;
	}
	.bfc-dash-panels {
		display: none;
	}

	.bfc-user-accordion {
		display: block;
	}
	.bfc-user-panels {
		display: none;
	}
}

@media (max-width:374px) {
	.header-topmenu .menu a,
	.header-submenu .menu a {
		padding-left: 3px;
		padding-right: 3px;
	}
	.header-grid {
		display: grid;
		grid-template-columns: 52px 1fr 52px;
		grid-template-rows: 20px 20px;
		grid-template-areas: 'Logo TopMenu User' 'Logo SubMenu User';
		margin: 6px 15px 6px 8px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 6px;
	}

	.header-logo {
		grid-area: Logo;
	}

	.header-topmenu {
		grid-area: TopMenu;
		margin: 0 auto;
	}

	.header-user {
		grid-area: User;
		z-index: 100;
	}
}

/* member directory */
.directory.members ul#members-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	grid-gap: 8px;
}

.directory.members #members-list.bp-list:before {
	content: normal;
	display: inherit;
}
.directory.members #members-list.bp-list li.item-entry {
	margin: 0;
	padding: 0;
	border-bottom: 0 none #000000;
}

.directory.members #members-list.bp-list .item-avatar {
	font-size: 16px;
	line-height: 19px;
}


.directory.members #members-list .item-avatar img.avatar {
	width: 120px;
	height: 120px;
	object-fit: cover;
	margin: 10px 0 8px;
	border-radius: 5px;
}

.directory.members #members-list div.list-wrap {
	display: flex;
	justify-content: center;
}

@media (max-width:767px) {
	.directory.members ul#members-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		grid-gap: 6px;
	}

	.directory.members #members-list.bp-list .item-avatar {
		font-size: 12px;
		line-height: 13px;
	}

	.directory.members #members-list .item-avatar img.avatar {
		width: 80px;
		height: 80px;
		margin: 8px 0 6px;
		border-radius: 3px;
	}

}

#members-group-list .item-intro {
	margin-left: 130px;
	padding: 12px 12px 14px 0;
	max-width: 640px;
	font-size: 17px;
	font-family: Merriweather,Georgia,serif;
}

#members-group-list .item-avatar {
	float: left;
	text-align: center;
	width: 115px;
	font-size: 13px;
	margin-right: 0;
}

#members-group-list .item-avatar img {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	border-radius: 12px;
}

.single-item.group-members .page-title {
	font-size: 16px;
}

.single-item.group-members .bp-screen-title {
	margin: 0 0 10px 0;
	line-height: 1em;
}
